@import url('./utility.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --logo-color: #384bf1;
  --btn-color: #396df2;
  --headline-color: #172b4d;
  --content-color: #7a869a;
  --btn-disabled-color: #5e6c84;
  --input-border-color: #10f;
  --textarea-border-color: #0004ff;
  --social-icons-color: #505f79;
  --content-hover-color: #344563;
  --dot-background-color: #c1c7d0;
  --body-background-color: #e5e5e5;
  --vector-background-color: #f7f7f9;
  --abt-social-headline-color: #5868f1;
  --btn-hover-background-color: #3346f3;
  --workslink-background-color: #f3f4ff;
  --btn-active-background-color: #2230d2;
  --contact-section-background-color: #6070ff;
  --navbar-menu-li-color: rgba(0 0 0 0.5);
  --btn-hover-box-shadow: rgba(64 83 252 24%);
  --navbar-menu-color: rgba(96 112 255 / 95%);
  --menu-container-background-color: rgba(0 46 252 0.5);
  --navbar-menu-li-hover-color: rgb(128 255 0);
  --navbar-menu-li-hover-background-color: #678684;
  --nav-container-font-family: poppins, sans-serif;
  --menu-link-font-family: roboto, sans-serif;
  --details-top-position: 0;
  --article-container-background: rgba(193 199 208 0.5);
  --details-btn-hover-color: white;
  --details-background-color: rgba(168 164 162 / 70%);
  --error-message-color: rgb(255 0 0);
}

body {
  background-color: var(--body-background-color);
}

.error-message {
  color: var(--error-message-color);
  font-size: 12px;
  background-color: var(--primary-color);
  border-radius: 8px;
  padding-left: 12px;
  margin-top: -2px;
  margin-bottom: 4px;
}

.close-details {
  right: 4%;
}

.article-container {
  background: var(--article-container-background);
}

a:hover path {
  fill: var(--btn-active-background-color);
}

.details {
  background-color: var(--details-background-color);
  position: fixed;
  inset: 0;
}

.details-works-article {
  margin-top: 15px;
  border-radius: 15px;
  width: 90%;
  padding: 1rem 2rem;
  margin-left: 35px;
  position: fixed;
  top: 0;
  background-color: var(--primary-color);
}

.details-about-icon {
  margin-bottom: 10px;
  list-style: none;
  align-items: center;
}

.details-works-img {
  width: 100%;
  height: 35vh;
}

.details-content {
  margin-right: 10px;
  font: 600 13px /16px var(--nav-container-font-family);
  color: var(--content-color);
}

.details-content:hover {
  color: var(--content-hover-color);
}

.details-dot {
  margin-right: 22px;
}

.details-abt-link {
  font: 400 13px /24px var(--nav-container-font-family);
  margin-bottom: 8px;
  list-style: none;
  align-items: center;
}

.details-link {
  margin-right: 35px;
}

.details-live-btn {
  width: 45%;
  font: 500 15px /24px var(--nav-container-font-family);
  padding: 13px 16px;
  border-radius: 8px;
  margin-left: 12px;
  color: var(--btn-color);
  background-color: var(--primary-color);
  text-decoration: none;
  justify-content: center;
  border: 2px solid var(--btn-color);
}

.details-live-btn:hover {
  color: var(--primary-color);
  background-color: var(--btn-color);
}

.details-source-btn {
  width: 45%;
  font: 500 15px /24px var(--nav-container-font-family);
  padding: 13px 16px;
  border-radius: 8px;
  margin-right: 12px;
  color: var(--btn-color);
  border-color: var(--btn-color);
  background-color: var(--primary-color);
  text-decoration: none;
  justify-content: center;
  border: 2px solid var(--btn-color);
}

.details-source-btn:hover {
  color: var(--primary-color);
  background-color: var(--btn-color);
}

.details-btn-wrapper {
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 2px;
}

.details-btn-svg {
  margin-left: 120px;
}

.details-btn-svg:hover path {
  fill-rule: evenodd;
  fill: var(--details-btn-hover-color);
}

.details-work-img {
  width: 100%;
  height: 40vh;
}

button:hover {
  cursor: pointer;
}

.navbar-menu {
  opacity: 1;
  width: 100%;
  height: 100vh;
  background: var(--navbar-menu-color);
  top: 0;
  right: 100%;
  padding: 8rem 2rem;
  position: fixed;
}

.navbar-menu-ul {
  flex-direction: column;
}

.navbar-background {
  width: 100%;
  height: calc(100vh - 75vh);
}

.navbar-menu-li {
  margin-bottom: 40px;
}

.navbar-link {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}

.navbar-link:hover {
  cursor: pointer;
  color: var(--navbar-menu-li-hover-color);
  background-color: var(--navbar-menu-li-hover-background-color);
}

.navbar-link:active {
  cursor: pointer;
  color: var(--navbar-menu-li-color);
}

.navbar {
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.navbar-hamb {
  cursor: pointer;
  z-index: 100;
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px;
  background-color: var(--primary-color);
}

.nav-container {
  font: 700 18px var(--nav-container-font-family);
  color: var(--logo-color);
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.menu-link {
  list-style: none;
  margin-bottom: 8px;
  font-family: var(--menu-link-font-family);
}

.menu-open-icon {
  cursor: pointer;
}

.menu-open-icon:hover {
  transform: scale(1.4);
  transition-duration: 0.4s;
}

.dropdown-link {
  text-decoration: none;
}

.menu-container {
  background: var(--menu-container-background-color);
}

.close-image {
  cursor: pointer;
  top: 11px;
  right: 35px;
}

.close-image:hover {
  font-size: 28px;
  transform: scale(1.4);
  transition-duration: 0.4s;
}

.close-image:active {
  color: var(--navbar-menu-color);
}

.nav-layout {
  margin: auto;
  width: 97%;
}

.hero-section {
  background: center/100% no-repeat var(--primary-color) url('../images/header-shapes-mobile.png');
  padding: 0 24px 24px;
  height: 578px;
  border-bottom-left-radius: 65px;
}

.headline {
  font: 700 40px var(--nav-container-font-family);
  margin-bottom: 24px;
  padding-top: 36px;
  color: var(--headline-color);
}

.writeup {
  font: 400 16px /24px var(--nav-container-font-family);
  margin-bottom: 16px;
}

.social-section {
  width: 65%;
}

.social-headline {
  font: 500 24px var(--nav-container-font-family);
  color: var(--abt-social-headline-color);
  margin-bottom: 16px;
}

.works {
  margin: 70px auto;
  height: 15%;
  width: 85%;
  list-style: none;
}

.work {
  padding: 14px;
  margin-bottom: 62px;
  border-radius: 15px;
  background-color: var(--primary-color);
}

.works-headline {
  font: 700 22px /22px var(--nav-container-font-family);
  margin-bottom: 2px;
}

.details-works-headline {
  font: 700 20px /10px var(--nav-container-font-family);
  margin-bottom: 8px;
}

.about-icon {
  margin-bottom: 10px;
  list-style: none;
  align-items: center;
}

.abt-link {
  font: 400 16px /24px var(--nav-container-font-family);
  margin-bottom: 10px;
  list-style: none;
  align-items: center;
}

.about-icons {
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.works-img {
  width: 100%;
}

.content {
  margin-left: 6px;
  font: 600 13px /16px var(--nav-container-font-family);
  color: var(--content-color);
}

.content:hover {
  color: var(--content-hover-color);
}

.dot {
  background-color: var(--dot-background-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 6px;
}

.works-writeup {
  font: 400 15px var(--nav-container-font-family);
  padding: 4px;
  color: var(--content-hover-color);
}

.details-works-writeup {
  font: 400 10px var(--nav-container-font-family);
  padding: 20px 4px;
  color: var(--content-hover-color);
  line-height: 1.3;
}

.works-link {
  background-color: var(--workslink-background-color);
  border-radius: 8px;
  padding: 2px 8px;
  text-decoration: none;
  color: var(--logo-color);
  margin-left: 6px;
}

.social-icons {
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}

.resume-button,
.btn {
  font: 500 17px /24px var(--nav-container-font-family);
  padding: 10px 16px;
  border-radius: 8px;
  margin-top: 10px;
  border-width: thin;
  color: var(--btn-color);
  border-color: var(--btn-color);
  background-color: var(--primary-color);
}

.btn:hover {
  color: var(--primary-color);
  background-color: var(--btn-color);
  box-shadow: 0 8px 16px var(--btn-hover-box-shadow);
}

.btn:active {
  color: var(--primary-color);
  background-color: var(--btn-active-background-color);
}

.btn:disabled {
  color: var(--btn-disabled-color);
  background-color: var(--primary-color);
}

.about-section {
  width: 100%;
  border-top-right-radius: 65px;
  background-color: var(--primary-color);
  margin-top: 68px;
}

.about-headline {
  font: 700 40px var(--nav-container-font-family);
  padding: 0 24px;
  margin-bottom: 24px;
  padding-top: 36px;
  color: var(--headline-color);
}

.about-writeup {
  font: 400 16px /24px var(--nav-container-font-family);
  padding: 0 24px;
  margin-bottom: 16px;
}

.abt-social-section {
  padding: 0 24px;
  width: 65%;
}

.abt-social-headline {
  font: 500 16px var(--nav-container-font-family);
  color: var(--abt-social-headline-color);
  margin-bottom: 16px;
}

.lang-header {
  padding: 0 24px 24px;
  list-style: none;
}

.lang-vector {
  font: 400 24px var(--nav-container-font-family);
  list-style: none;
  background-color: var(--vector-background-color);
  padding: 12px;
  margin: 12px;
  border-radius: 8px;
  align-items: center;
}

.ellipse {
  padding-right: 12px;
}

.about-lang {
  font: 500 20px /24px var(--nav-container-font-family);
  padding: 24px 24px 24px 14px;
  justify-content: space-between;
  align-items: center;
}

.about-language {
  font: 500 20px /24px var(--nav-container-font-family);
  padding: 24px 24px 24px 12px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--content-color);
}

.about-frame {
  width: 100%;
  padding: 4px;
}

.contact-section {
  background: center/100% no-repeat var(--btn-hover-background-color)
    url('../images/contact-form-shapes-mobile.png');
  height: 100vh;
  width: 100%;
  margin-top: 88px;
  border-top-left-radius: 65px;
}

.contact-headline {
  font: 700 40px /52px var(--nav-container-font-family);
  padding-top: 77px;
  color: var(--primary-color);
  text-align: center;
}

.contact-writeup {
  font: 400 20px /28px var(--nav-container-font-family);
  margin-bottom: 16px;
  padding: 12px;
  color: var(--workslink-background-color);
  text-align: center;
}

.contact-form {
  padding: 12px 14px 0;
}

.contact-group {
  margin: 0 auto 12px;
}

.contact-control {
  width: 100%;
  height: 42%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.contact-text {
  margin: 0 auto 8px;
}

.contact-comment-text {
  font: 400 15px /24px var(--nav-container-font-family);
  padding: 12px;
  width: 100%;
  height: 150px;
  border-radius: 8px;
}

.contact-btn {
  font: 500 17px /24px var(--nav-container-font-family);
  padding: 10px 16px;
  border-radius: 8px;
  border-width: thin;
  margin-top: 10px;
  border-color: var(--btn-color);
  background-color: var(--primary-color);
  color: var(--btn-hover-background-color);
}

input:focus {
  border-width: 4px;
  border-color: var(--input-border-color);
  background-color: var(--primary-color);
}

textarea:focus {
  border-width: 4px;
  border-color: var(--textarea-border-color);
}

.contact-btn:hover {
  color: var(--primary-color);
  background-color: var(--btn-hover-background-color);
  box-shadow: 0 8px 16px var(--btn-hover-box-shadow);
}

.contact-btn:active {
  color: var(--primary-color);
  background-color: var(--btn-active-background-color);
}

.contact-btn:disabled {
  color: var(--btn-disabled-color);
  background-color: var(--primary-color);
}

.contact-shape {
  margin: 12px auto 0;
  width: 32%;
}

.mobile-navbar {
  font-size: 45px;
}

article {
  cursor: pointer;
}

@media (width >=1000px) {
  .mobile-menu-navbar {
    color: var(--textarea-border-color);
  }

  .additional {
    margin: 0;
  }

  .error-message {
    display: flex;
    width: 30%;
    margin-left: 35%;
  }

  .mobile-navbar {
    font-family: var(--nav-container-font-family);
    color: var(--textarea-border-color);
    font-size: 16px;
    margin-left: 8px;
    font-weight: 700;
    list-style: none;
  }

  .mobile-navbar:hover {
    color: var(--secondary-color);
  }

  .mobile-navbar-link {
    text-decoration: none;
    color: var(--textarea-border-color);
  }

  .mobile-navbar-link:active {
    color: var(--btn-hover-box-shadow);
  }

  .navbar-menu {
    background: transparent;
  }

  .nav-bar {
    top: 0;
    width: 100%;
    height: 72px;
    background-color: var(--primary-color);
    padding: 0;
  }

  .nav-layout {
    width: 76%;
    justify-content: space-between;
    margin: auto;
    align-items: center;
  }

  .header-link {
    list-style: none;
    flex-direction: row;
    color: var(--content-hover-color);
    font: 500 15px /20px var(--nav-container-font-family);
  }

  .dropdown-link {
    padding: 2px 8px;
    text-decoration: none;
    font: 600 22px var(--nav-container-font-family);
  }

  .nav-container {
    font: 700 18px var(--nav-container-font-family);
  }

  .hero-section {
    background: center/100% no-repeat var(--primary-color) url('../images/Header-image.png');
    height: calc(100vh - 65px);
    margin-top: 72px;
  }

  .headline {
    font: 700 55px var(--nav-container-font-family);
  }

  .details-works-headline {
    font: 700 20px /35px var(--nav-container-font-family);
    margin-bottom: 8px;
  }

  .hero-headline {
    width: 60%;
    margin: auto;
    padding-top: 55px;
  }

  .writeup {
    font: 400 20px /28px var(--nav-container-font-family);
    margin-bottom: 16px;
  }

  .social-section {
    width: 65%;
  }

  .social-headline {
    font: 500 16px var(--nav-container-font-family);
    margin-bottom: 16px;
  }

  .works {
    list-style: none;
    flex-direction: column;
    width: 78%;
  }

  .works-article {
    width: 50%;
  }

  .img-profile {
    width: 45%;
  }

  .work {
    justify-content: space-between;
    height: 50%;
    padding: 24px;
    margin-bottom: 12rem;
  }

  .works-headline {
    font: 700 25px /52px var(--nav-container-font-family);
    margin: 0;
  }

  .works-article.order {
    order: -1;
  }

  .about-link {
    font: 500 12px /16px var(--nav-container-font-family);
    justify-content: flex-start;
  }

  .about-icon {
    padding-top: 12px;
    justify-content: flex-start;
  }

  .about-icons {
    justify-content: flex-start;
    width: 77%;
  }

  .about-icon-logo {
    margin-right: 8px;
  }

  .content {
    font: 500 18px /24px var(--nav-container-font-family);
    margin-right: 8px;
    cursor: pointer;
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .works-writeup {
    font: 400 16px /24px var(--nav-container-font-family);
    padding: 32px 0 12px;
    margin-bottom: 15px;
  }

  .works-link {
    border-radius: 8px;
    padding: 2px 8px;
    text-decoration: none;
    color: var(--logo-color);
    margin-right: 8px;
  }

  .work-link {
    background-color: var(--workslink-background-color);
    border-radius: 8px;
    padding: 2px 8px;
    text-decoration: none;
    color: var(--logo-color);
    margin-right: 8px;
  }

  .works-img {
    width: 100%;
  }

  .social-icons {
    list-style: none;
    justify-content: flex-start;
    align-items: center;
  }

  .social-icon-logo {
    margin-right: 8px;
  }

  .btn {
    font: 500 17px /24px var(--nav-container-font-family);
    padding: 8px 12px;
  }

  .button {
    font: 500 17px /24px var(--nav-container-font-family);
    padding: 11px 22px;
    border-radius: 8px;
    margin-top: 22px;
    border-width: thin;
    color: var(--btn-color);
    border-color: var(--btn-color);
    background-color: var(--primary-color);
  }

  .button:hover {
    background-color: var(--btn-color);
    color: var(--primary-color);
  }

  .abt-semi-section {
    height: calc(100vh - 120px);
    margin: auto;
    width: 80%;
    padding-top: 5rem;
  }

  .about-headline {
    width: 50%;
    font: 700 40px var(--nav-container-font-family);
    padding: 0 24px;
  }

  .abt-semi-headline {
    width: 40%;
  }

  .semi-headline {
    width: 60%;
  }

  .about-writeup {
    font: 400 16px /24px var(--nav-container-font-family);
    padding: 0 24px;
    margin-bottom: 16px;
  }

  .abt-social-section {
    padding: 0 24px;
    width: 100%;
  }

  .abt-social-headline {
    font: 500 16px var(--nav-container-font-family);
    margin-bottom: 16px;
  }

  .lang-header {
    width: 100%;
    padding-top: 20px;
  }

  .lang-vector {
    font: 500 15px /20px var(--nav-container-font-family);
    flex-direction: column;
    align-items: flex-start;
    height: 6rem;
    margin-right: 2px;
  }

  .lang-hold {
    width: 90%;
    padding: auto;
  }

  .abt-link {
    font: 500 12px /16px var(--nav-container-font-family);
    justify-content: flex-start;
  }

  .about-lang {
    font: 500 20px /24px var(--nav-container-font-family);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contact-section {
    background: center/90% no-repeat var(--contact-section-background-color)
      url('../images/contact_form_background_shapes-desktop.png');
    text-align: center;
    height: calc(100vh - 10px);
    margin-top: 72px;
  }

  .contact-writeup {
    width: 45%;
    padding: 12px;
    margin: auto;
    text-align: center;
  }

  .contact-control {
    width: 30%;
    border-radius: 0;
    outline: none;
  }

  .contact-comment-text {
    font: 400 15px /24px var(--nav-container-font-family);
    width: 30%;
    border-radius: 0;
    outline: none;
  }

  .details-works-article {
    width: 60%;
    height: 580px;
    margin-left: 20%;
  }

  .details-about-icon {
    margin-bottom: 8px;
  }

  .details-content {
    margin-right: 8px;
    font: 600 13px /5px var(--nav-container-font-family);
  }

  .details-content:hover {
    color: var(--content-hover-color);
  }

  .details-dot {
    margin-right: 22px;
  }

  .details-works-img {
    width: 442%;
    height: 45vh;
    border-radius: 12px;
  }

  .details-works-writeup {
    width: 100%;
    padding: 10px 0 12px;
    margin-top: 0;
    font: 400 9px /16px var(--nav-container-font-family);
  }

  .details-abt-link {
    font: 400 12px /25px var(--nav-container-font-family);
    margin-bottom: 0;
    bottom: 180px;
    left: 50%;
    width: 100%;
  }

  .details-btn-wrapper {
    justify-content: center;
    bottom: 45px;
    left: 100%;
    width: 100%;
  }

  .details-live-btn {
    width: 40%;
    font: 500 13px /22px var(--nav-container-font-family);
    padding: 5px 2px;
    margin-right: 12px;
    text-decoration: none;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--btn-color);
  }

  .details-live-btn:hover {
    color: var(--primary-color);
    background-color: var(--btn-color);
  }

  .details-source-btn {
    width: 40%;
    font: 500 13px /22px var(--nav-container-font-family);
    padding: 6px 2px;
    margin-right: 5px;
    text-decoration: none;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--btn-color);
  }

  .details-source-btn:hover {
    color: var(--primary-color);
    background-color: var(--btn-color);
  }

  .details-link {
    margin-right: 35px;
  }

  .details-btn-svg path {
    margin-left: 95px;
    fill-rule: evenodd;
    fill: var(--btn-color);
  }

  .details-btn-svg:hover path {
    fill-rule: evenodd;
    fill: var(--primary-color);
  }

  .details-work-img {
    width: 100%;
    height: 40vh;
  }
}
