* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  border-radius: 0 0 0 120px;
  border: 3px solid #d4d4d4;
  height: 649px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px;
}

.logo {
  color: blue;
  font-size: 22px;
  font-weight: 700;
}

.image {
  color: royalblue;
}

.hero {
  background-image: url("../header-shapes-mobile.png");
  background-size: cover;
  padding: 0 24px 24px;
}

.headline {
  font-size: 78px;
  margin-bottom: 24px;
  padding-top: 36px;
}

.writeup {
  font-size: 18px;
  margin-bottom: 16px;
}

.second-headline {
  color: royalblue;
  font-size: 16px;
  margin-bottom: 16px;
}

ul {
  display: flex;
  justify-content: space-between;
  padding-right: 350px;
  list-style: none;
}
