@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --logo-color: #6070ff;
  --btn-color: #396df2;
  --headline-color: #172b4d;
  --content-color: #7a869a;
  --social-icons-color: #505f79;
  --content-hover-color: #344563;
  --dot-background-color: #c1c7d0;
  --body-background-color: #e5e5e5;
  --vector-background-color: #f7f7f9;
  --workslink-background-color: #ebebff;
  --abt-social-headline-color: #7f8cff;
  --btn-disabled-color: #5E6C84;
  --btn-active-background-color: #2230d2;
  --btn-hover-box-shadow: rgba(64 83 252 24%);
  --btn-hover-background-color: #6070ff;
}

body {
  background-color: var(--body-background-color);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px;
  background-color: var(--primary-color);
}

.header-link {
  display: none;
}

.logo {
  font: 700 22px poppins, sans-serif;
  color: var(--logo-color);
}

.hero-section {
  background-image: url("../images/header-shapes-mobile.png");
  background-size: cover;
  padding: 0 24px 24px;
  height: 578px;
  border-bottom-left-radius: 65px;
  background-color: var(--primary-color);
}

.headline {
  font: 700 40px poppins, sans-serif;
  margin-bottom: 24px;
  padding-top: 36px;
  color: var(--headline-color);
}

.writeup {
  font: 400 16px /24px poppins, sans-serif;
  margin-bottom: 16px;
}

.social-section {
  width: 65%;
}

.social-headline {
  font: 500 16px poppins, sans-serif;
  color: var(--abt-social-headline-color);
  margin-bottom: 16px;
}

.social-icons path:hover {
  fill: var(--social-icons-color);
}

.works {
  margin: 70px auto;
  height: 15%;
  width: 85%;
  list-style: none;
}

.work {
  padding: 14px;
  margin-bottom: 62px;
  border-radius: 15px;
  background-color: var(--primary-color);
}

.works-headline {
  font: 700 32px /44px poppins, sans-serif;
  margin-bottom: 10px;
}

.about-icon {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.works-list {
  display: block;
}

.about-link {
  font: 400 16px /24px poppins, sans-serif;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.abt-link {
  font: 400 16px /24px poppins, sans-serif;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 82%;
}

.about-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.works-img {
  width: 100%;
}

.image {
  display: none;
}

.content {
  font: 600 13px /16px poppins, sans-serif;
  color: var(--content-color);
}

.content:hover {
  color: var(--content-hover-color);
}

.dot {
  background-color: var(--dot-background-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.works-writeup {
  font: 400 15px poppins, sans-serif;
  padding: 24px 4px;
  color: var(--content-hover-color);
}

.works-link {
  background-color: var(--workslink-background-color);
  border-radius: 8px;
  padding: 2px 8px;
  text-decoration: none;
  color: var(--logo-color);
}

.social-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}

.btn {
  font: 500 17px /24px poppins, sans-serif;
  padding: 10px 16px;
  border-radius: 8px;
  margin-top: 22px;
  border-width: thin;
  color: var(--btn-color);
  border-color: var(--btn-color);
  background-color: var(--primary-color);
}

.btn:hover {
  color: var(--primary-color);
  background-color: var(--btn-color);
  box-shadow: 0 8px 16px var(--btn-hover-box-shadow);
}

.btn:active {
  color: var(--primary-color);
  background-color: var(--btn-active-background-color);
}

.btn:disabled {
  color: var(--btn-disabled-color);
  background-color: var(--primary-color);
}

.about-section {
  /* height: 79rem; */
  width: 100%;
  border-top-right-radius: 65px;
  background-color: var(--primary-color);
  margin-top: 68px;
}

.about-headline {
  font: 700 40px poppins, sans-serif;
  padding: 0 24px;
  margin-bottom: 24px;
  padding-top: 36px;
  color: var(--headline-color);
}

.about-writeup {
  font: 400 16px /24px poppins, sans-serif;
  padding: 0 24px;
  margin-bottom: 16px;
}

.abt-social-section {
  padding: 0 24px;
  width: 65%;
}

.abt-social-headline {
  font: 500 16px poppins, sans-serif;
  color: var(--abt-social-headline-color);
  margin-bottom: 16px;
}

.lang-header {
  padding: 0 24px 24px;
  list-style: none;
}

.lang-vector {
  font: 400 24px poppins, sans-serif;
  list-style: none;
  background-color: var(--vector-background-color);
  padding: 12px;
  margin: 12px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ellipse {
  padding-right: 12px;
}

.about-lang {
  font: 500 20px /24px poppins, sans-serif;
  padding: 24px 24px 24px 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-language {
  font: 500 20px /24px poppins, sans-serif;
  padding: 24px 24px 24px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--content-color);
}

.about-frame {
  width: 100%;
  padding: 4px;
}

.contact-section {
  background-image: url("../images/contact-form-shapes-mobile.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: 88px;
  border-top-left-radius: 65px;
  background-color: var(--btn-hover-background-color);
}

.contact-headline {
  font: 700 40px /52px poppins, sans-serif;
  padding-top: 77px;
  color: var(--primary-color);
  text-align: center;
}

.contact-writeup {
  font: 400 20px /28px poppins, sans-serif;
  margin-bottom: 16px;
  padding: 12px;
  color: var(--workslink-background-color);
  text-align: center;
}

.contact-form {
  padding: 12px 14px 0;
}

.contact-group {
  margin: 0 auto 12px;
}

.contact-control {
  width: 100%;
  height: 42%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.contact-text {
  margin: 0 auto 8px;
}

.contact-comment-text {
  font: 400 15px /24px poppins, sans-serif;
  padding: 12px;
  width: 100%;
  height: 150px;
  border-radius: 8px;
}

.contact-btn {
  font: 500 17px /24px poppins, sans-serif;
  padding: 10px 16px;
  border-radius: 8px;
  border-width: thin;
  border-color: var(--btn-color);
  background-color: var(--primary-color);
  color: var(--btn-hover-background-color);
}

.contact-btn:hover {
  color: var(--primary-color);
  background-color: var(--btn-hover-background-color);
  box-shadow: 0 8px 16px var(--btn-hover-box-shadow);
}

.contact-btn:active {
  color: var(--primary-color);
  background-color: var(--btn-active-background-color);
}

.contact-btn:disabled {
  color: var(--btn-disabled-color);
  background-color: var(--primary-color);
}

.contact-shape {
  margin: 12px auto 0;
  width: 32%;
}

@media (width >= 768px) {
  .nav-bar {
    position: fixed;
    width: 100%;
    padding: 4px 62px;
    display: flex;
    align-items: center;
  }

  .header-link {
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #344563;
    font: 500 15px /20px poppins, sans-serif;
  }

  .dropdown-link {
    padding: 2px 8px;
    text-decoration: none;
  }

  .logo {
    font: 500 15px poppins, sans-serif;
  }

  .hero-section {
    background-image: url("../images/Header-image.png");
    background-size: contain;
    padding: 85px;
    height: 721.46px;
  }

  .writeup {
    font: 400 20px /28px poppins, sans-serif;
    margin-bottom: 16px;
  }

  .social-section {
    width: 35%;
  }

  .social-headline {
    font: 500 16px poppins, sans-serif;
    margin-bottom: 16px;
  }

  .works {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .works-article {
    padding: 32px;
  }

  .work {
    display: flex;
  }

  .works-headline {
    font: 700 32px /44px poppins, sans-serif;
    margin-bottom: 10px;
  }

  .about-icon {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%;
  }

  .works-list {
    display: block;
  }

  .works-img {
    margin: 8px;
  }

  .about-link {
    font: 400 16px /24px poppins, sans-serif;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 57%;
  }

  .about-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65%;
  }

  .content {
    font: 600 13px /16px poppins, sans-serif;
  }

  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .works-writeup {
    font: 400 15px poppins, sans-serif;
    padding: 24px 4px;
  }

  .works-link {
    border-radius: 8px;
    padding: 2px 8px;
    text-decoration: none;
    color: var(--logo-color);
  }

  .social-icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 88%;
  }

  .btn {
    font: 500 17px /24px poppins, sans-serif;
    padding: 10px 16px;
    border-radius: 8px;
    margin-top: 22px;
    border-width: thin;
  }

  .abt-semi-section {
    display: flex;
    flex-direction: row;
  }

  .about-headline {
    width: 50%;
    font: 700 40px poppins, sans-serif;
    padding: 0 24px;
    margin-bottom: 24px;
    padding-top: 36px;
  }

  .abt-semi-headline {
    width: 40%;
  }

  .semi-headline {
    width: 60%;
  }

  .about-writeup {
    font: 400 16px /24px poppins, sans-serif;
    padding: 0 24px;
    margin-bottom: 16px;
  }

  .abt-social-section {
    padding: 0 24px;
    width: 65%;
  }

  .abt-social-headline {
    font: 500 16px poppins, sans-serif;
    margin-bottom: 16px;
  }

  .lang-header {
    width: 100%;
    padding-top: 20px;
  }

  .lang-vector {
    font: 500 15px /20px poppins, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 24%;
    height: 7rem;
  }

  .lang-hold {
    display: flex;
    width: 90%;
    padding: auto;
  }

  .about-lang {
    font: 500 20px /24px poppins, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contact-section {
    background-image: url("../images/contact_form_background_shapes-desktop.png");
    background-size: contain;
    text-align: center;
  }

  .contact-control {
    width: 35%;
    border-radius: 0;
  }

  .contact-comment-text {
    font: 400 15px /24px poppins, sans-serif;
    width: 35%;
    border-radius: 0;
  }
}