@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 20px;
  background-color: #fff;
}

.logo {
  font-family: poppins, sans-serif;
  color: rgb(96 112 255);
  font-size: 22px;
  font-weight: 700;
}

.hero-section {
  background-image: url("../header-shapes-mobile.png");
  background-size: cover;
  padding: 0 24px 24px;
  height: 578px;
  border-bottom-left-radius: 65px;
  background-color: #fff;
}

.headline {
  font-family: poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
  padding-top: 36px;
  color: #172b4d;
}

.writeup {
  font-size: 16px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 24px;
}

.social-section {
  width: 65%;
}

.social-headline {
  color: #7f8cff;
  font-size: 16px;
  margin-bottom: 16px;
}

.social-icons path:hover {
  fill: #000;
}

.works {
  margin: 70px 26px;
  padding: 14px;
  height: 15%;
  width: 85%;
  border-radius: 15px;
  background-color: #fff;
}

.works-headline {
  font-family: poppins, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-bottom: 10px;
}

.about-icon {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.works-list {
  display: block;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 66%;
}

.works-img {
  width: 100%;
}

.content {
  font-family: poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

.content:hover {
  color: #344563;
}

.dot {
  background-color: #c1c7c0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.works-writeup {
  font-family: poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 24px 4px;
  color: #344563;
}

.works-link {
  background-color: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  text-decoration: none;
  color: #6070ff;
}

.social-icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 88%;
}

.btn {
  font-family: poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 8px;
  margin-top: 22px;
  line-height: 24px;
  border-width: thin;
  color: #396df2;
  border-color: #396df2;
  background-color: #fff;
}

.btn:hover {
  color: #fff;
  background-color: #396df2;
}

.about-section {
  padding: 0 24px 24px;
  height: 94%;
  border-top-right-radius: 65px;
  background-color: #fff;
  margin-top: 68px;
}

.about-headline {
  font-family: poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
  padding-top: 36px;
  color: #172b4d;
}

.about-writeup {
  font-size: 16px;
  font-family: poppins, sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 24px;
}

.abt-social-section {
  width: 95%;
}

.abt-social-headline {
  color: #7f8cff;
  font-size: 16px;
  margin-bottom: 16px;
}

.about-lang {
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 12px 0;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
